#stock-form{
    font-size:20px;
    font-weight:bold;
    color:#E5C454;
}
a{
    color:#46BCDE;
    text-decoration:underline;
    font-weight:bold;
}

body{
    background-image:url("bg.png");
    color:white;
    text-shadow:
    0.07em 0 black,
    0 0.07em black,
    -0.07em 0 black,
    0 -0.07em black;
}

h1{
    color:#E5C454;
}
button{
      margin: 10px;
}

#add-stock{
    margin-top:5px;
}

#clear-stock{
    margin-top:15px;
}

img{
    margin:10px 0;
    border:2px solid white;
}

#stocks-view{
    position:relative;
    width:70%;
}

#news-view{
    width:50%;
    margin:5px;
    padding:5px;
    border:1px solid rgb(201, 198, 198);
}
form{
    position: absolute;
    margin-right:20px;
    right: 0;
}

.articleTitle{
    font-size:18px;
    font-weight:bold;
    color:#cce5cc;
}

.title{
    text-align:center;
    color:white;
    background-color:teal;
    height:55px;
}

@media screen and (max-width: 768px) {

    form{
        position: relative;
        text-align:center;
    }
    #news-view{
        width:70%;
    }
    #stocks-view{
        width:90%;
    }
}